.logoutButton {
  border: 2px solid #fff;
  border-radius: 35vh;
  padding: 12px;
  font-size: 1.05rem;
  color: #fff;
  background-color: transparent;
  transition: all 0.2s ease;
  user-select: none;

  &:hover {
    box-shadow: inset 0 0 8px #fff;
  }
}

@media (max-width: 1180px) {
  .logoutButton {
    padding: 10px 15px;
    font-size: 1rem;
  }
}
