a.loginLink {
  color: #4dc9fe;
  align-self: flex-start;
  font-weight: 600;
  margin-left: 60px;
  transition: all 0.2s ease;
  &:hover {
    color: #80e6ff;
  }
}

// background: linear-gradient(269.38deg, #00cb6a 15.51%, #4dc9fe 65.46%);
// border-radius: 20px;
// font-weight: 700;
// line-height: 30px;
// text-align: center;
// padding: 20px;
// color: #ffffff;
