@import "../../styles/templates";
@import "../../styles/variables";

.mainContent {
  position: relative;
  height: 100vh;
  background: $greenLinearGradient;

  .menuWrapper {
    position: absolute;
    right: 40px;
    top: 40px;
  }

  @extend %flexCenter;
}

@media (max-width: 1180px) {
  .mainContent {
    .menuWrapper {
      right: 20px;
      top: 20px;
    }
  }
}
