@import "../../styles/templates";
@import "../../styles/variables";

.mainContent {
  height: 100vh;
  position: relative;
  @extend %flexCenter;
  background: $greenLinearGradient;
  .menuWrapper {
    position: absolute;
    top: 40px;
    right: 40px;
  }
}
