@import "../../../styles/templates";

.mainWrapper {
  @extend %flexCenter;
  align-items: stretch;
  .logoSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 30px 130px 30px;
    margin-right: 10vw;

    .logoWithText {
      @extend %flexCenter;
      flex-direction: column;
      margin-bottom: auto;
      img {
        width: 100px;
        height: 100px;
        margin-right: 5px;
        object-fit: contain;
        margin-bottom: 15px;
      }
      p {
        font-weight: 900;
        font-size: 2.5rem;
        line-height: 3rem;
        color: #fff;
      }
    }

    .projectInfoWithText {
      font-weight: 700;
      text-align: center;
      color: #fff;

      p {
        font-weight: 700;
        font-size: 0.9rem;
        line-height: 25px;
        text-align: center;

        color: #ffffff;
        &:last-of-type {
          margin-bottom: 20px;
        }
      }
    }
  }
  .registrationSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 30px 30px 110px;
    width: 600px;
    height: 590px;
    background: url("../../../imgs/backgroundLogin.png") no-repeat center center/cover;

    .registrationForm {
      @extend %flexCenter;
      flex-direction: column;

      .registrationInputs {
        @extend %flexCenter;
        flex-direction: column;
        margin-bottom: 15px;
        height: 250px;
        justify-content: space-between;
      }

      .loginWrapper {
        display: flex;
        width: 100%;
        flex-direction: column;

        .formLogin {
          margin-left: 15px;
          margin-bottom: 32px;
        }
        .formRegister {
          max-width: 200px;
        }
      }
    }
  }
}

@media (max-width: 1180px) {
  .mainWrapper {
    flex-direction: column;
    justify-content: center;

    .logoSection {
      flex-direction: row;
      justify-content: space-around;
      padding: 0 0 20px 0;
      align-items: center;
      margin-right: 0;

      .logoWithText {
        img {
          width: 70px;
          height: 70px;
          margin-bottom: 0;
        }

        p {
          font-size: 2rem;
        }
      }

      .projectInfoWithText {
        p {
          font-size: 0.8rem;
          &:last-of-type {
            margin-bottom: 5px;
          }
        }
      }
    }

    .registrationSection {
      padding: 0 0 0 50px;
      width: 350px;
      height: 350px;

      .registrationForm {
        .registrationInputs {
          height: 180px;
          margin-bottom: 3px;
        }
        .loginWrapper {
          .formLogin {
            margin-bottom: 10px;
          }
          .formRegister {
          }
        }
      }
    }
  }
}
