@import "../../styles/templates";

.contactWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 7px 20px;

  &:last-of-type {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .iconFullName {
    .typeIcon {
      border: 0.5px solid #0f0;
      border-radius: 50%;
      width: 45px;
      height: 45px;
      object-fit: contain;
    }

    .fullName {
      margin-top: 2px;
      margin-left: 5px;
      font-size: 1.1rem;
    }

    @extend %flexCenter;
  }

  .phoneOptionsWrapper {
    .phoneNumber {
      margin-right: 20px;
      font-family: "Open Sans", sans-serif;
      font-size: 1.2rem;
    }

    .deleteButton {
      margin-left: 18px;
    }

    @extend %flexCenter;
  }
}
