@import "../../styles/templates";

.contactWrapper {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 7px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &:last-of-type {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .iconFullName {
    @extend %flexCenter;
    .typeIcon {
      border-radius: 50%;
      height: 45px;
      width: 45px;
      object-fit: contain;
      border: 0.5px solid green;
    }
    .fullName {
      font-size: 1.1rem;
      margin-left: 5px;
      margin-top: 2px;
    }
  }

  .phoneOptionsWrapper {
    @extend %flexCenter;

    .phoneNumber {
      font-size: 1.2rem;
      font-family: "Open Sans", sans-serif;
      margin-right: 20px;
    }

    .deleteButton {
      margin-left: 18px;
    }
  }
}
