.inputWrapper {
  position: relative;

  .registerFormError {
    position: absolute;
    left: 10px;
    top: -38%;
    font-size: 0.95rem;
    color: #f00;
    user-select: none;
  }
}

@media (max-width: 1180px) {
  .inputWrapper {
    .registerFormError {
      font-size: 0.8rem;
    }
  }
}
