@import "../../../../styles/variables";

.gradientButton {
  background: $greenLinearGradient;
  border-radius: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  padding: 8px 62px;
  color: #ffffff;
  font-size: 1.2rem;
  transition: all 0.2s ease;
  user-select: none;

  &:hover {
    background-size: 200% 200%;
    animation: gradient 0.5s ease forwards;
  }

  &:disabled {
    background: #dfdfde;
    color: #b3b3b2;
    pointer-events: none;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 41%;
  }
  50% {
    background-position: 100% 60%;
  }
  100% {
    background-position: 0% 41%;
  }
}
@media (max-width: 1180px) {
  .gradientButton {
    line-height: 20px;
    font-size: 1rem !important;

    padding: 8px 30px;
  }
}
