@import "../../styles/templates";

.mainWrapper {
  @extend %flexCenter;
  .logoSection {
  }
  .loginSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 30px 30px 110px;
    width: 600px;
    height: 590px;
    background: url("../../imgs/backgroundLogin.png") no-repeat center center/cover;

    .loginForm {
      @extend %flexCenter;
      flex-direction: column;

      .loginInputs {
        @extend %flexCenter;
        flex-direction: column;
        margin-bottom: 15px;
      }

      .loginRegisterWrapper {
        display: flex;
        width: 100%;
        flex-direction: column;

        .formLogin {
          margin-left: 12px;
          margin-bottom: 32px;
        }
        .formRegister {
          max-width: 200px;
        }
      }
    }
  }
}
