.contactTransitionGroup {
}

.contactTransitionGroup-enter {
  opacity: 0;
}

.contactTransitionGroup-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.contactTransitionGroup-exit {
  opacity: 1;
}

.contactTransitionGroup-exit-active {
  opacity: 0;
  transition: opacity 200ms ease-in;
}
