@import "../../styles/variables";
@import "../../styles/templates";

.mainWrapper {
  height: 530px;
  width: 680px;
  background-color: #eaece9;
  border-radius: 10px;
  padding: 20px 0px;
  box-shadow: 5px 6px 8px rgba(0, 0, 0, 0.25);

  .addContact {
    position: relative;
    margin-top: 30px;
    height: 2px;
    width: 100%;
    background: $greenLinearGradient;
    .addContactButton {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @extend %flexCenter;
      cursor: pointer;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: $greenLinearGradient;

      &:hover .plus {
        transform: rotate(180deg);
      }
      .plus {
        transition: all 0.5s ease-in-out;

        color: #fff;
        font-size: 1.5rem;
      }
    }
  }

  .contactsWrapper {
    margin-top: 30px;
    padding: 0px 10px;
  }
}
